<% sitemap "#{current_user.name}'s Recent Checkins" %>

<% current_user.checkins.each do |checkin| %>
  <div class="checkin">
    <%= image_tag(checkin.venue.icon) if checkin.venue %>
    <%= "name @ #{checkin.venue.name}" if checkin.venue %>
    <%= "shout @ #{checkin.shout}" %>
    time ago : <%= time_ago_in_words(checkin.created_at) %>
    <div class="inspect">
      <%= checkin.inspect %>
    </div>
  </div>
<% end %>