<%= sitemap "#{current_user.name}'s friends" %>

<% current_user.friends.each do |friend| %>
  <div class="friends">
    <%= image_tag(friend.photo) if friend.photo %>
    name : <%= "#{friend.first_name} #{friend.last_name}" %>
    city : <%= friend.home_city %>
    <%= friend.inspect%>
  </div>
<% end %>
