<div id="address_search" data-role="fieldcontain">
<%= form_tag "/beers/search", :method => :get do %>
  <%= label_tag "Address:" %>
  <%= text_field_tag :address, params[:address], :type => "search" %>
<% end %>
</div>


<% if @beers %>
  <ul data-role="listview">
    <% @beers.each do |b| %>
    <li>
      <%= link_to venue_details_beers_path(:venue_id => b.venue_id) do %>
      <%= begin image_tag b.venue_icon, :class => "ui-li-icon" rescue nil end %>
      <%= b.text %>
      <span class="ui-li-count"><%= b.score.to_s %></span>
      <% end %>
    </li>
    <% end %>
  </ul>
<% end %>