<h2><%= @venue.name %></h2>

<table>
  <tr>
    <td> Name</td>
    <td><%= @venue.name %></td>
  </tr>
  <tr>
    <td> Location</td>
    <td><%= @venue.location.address %></td>
  <tr>
  <% if @venue.primary_category %>
    <tr>
      <td> Primary Category</td>
      <td><%= @venue.primary_category.name%></td>
    </tr>
  <% end %>
  <tr>
    <td> Categories</td>
    <td>
      <% @venue.categories.each do |category| %>
        <div><%= image_tag category["icon"]%> <%= category["name"] %></div>
      <% end %>
    </td>
  </tr>
  <tr>
    <td> Checkins Count</td>
    <td><%= @venue.stats["checkinsCount"]%></td>
  </tr>
  <tr>
    <td> Photos</td>
    <td>
      <% @venue.photos.each do |photo| %>
        <%= link_to image_tag(photo.square_100_url), photo.url %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td> More</td>
    <td><%= link_to "See documentation", "https://developer.foursquare.com/docs/explore.html#req=venues/#{@venue_id}" %></td>
  </tr>
</table>