<h2><%= @venue.name %></h2>

<table>
  <tr>
    <td> Name</td>
    <td><%= @venue.name %></td>
  </tr>
  <tr>
    <td> Location</td>
    <td><%= @venue.location.address %></td>
  <tr>
  <% if @venue.primary_category %>
    <tr>
      <td> Primary Category</td>
      <td><%= @venue.primary_category.name%></td>
    </tr>
  <% end %>
  <tr>
    <td> Checkins Count</td>
    <td><%= @venue.stats["checkinsCount"]%></td>
  </tr>
  <% if @venue.photos.length > 0 %>
    <tr>
      <td> Photos</td>
      <td>
        <% @venue.photos.each do |photo| %>
          <%= link_to image_tag(photo.square_100_url), photo.url %>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>

<h2>Tips</h2>
<ul data-role="listview">
<% @tips["tips"]["items"].each do |t| %>
<li><%= t["text"] %></li>
<% end %>
</ul>