<h2><%= @venue.name %></h2>
<h4><%= @venue.location.address %></h4>

<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@venue.location.lat},#{@venue.location.lng}&zoom=14&size=300x200&maptype=roadmap&sensor=false&&markers=color:blue%7Cicon:http://mapicons.nicolasmollet.com/wp-content/uploads/mapicons/shape-default/color-f5c344/shapecolor-color/shadow-1/border-dark/symbolstyle-white/symbolshadowstyle-dark/gradient-no/bar.png%7C#{@venue.location.lat},#{@venue.location.lng}", :style=> "max-width: 100%;"%>

<table>
  <tr>
    <td> Checkins Count</td>
    <td><%= @venue.stats["checkinsCount"]%></td>
  </tr>
  <% if @venue.photos.length > 0 %>
    <tr>
      <td> Photos</td>
      <td>
        <% @venue.photos.each do |photo| %>
          <%= link_to image_tag(photo.square_100_url), photo.url %>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>

<h2>Tips</h2>
<ul data-role="listview">
<% @tips["tips"]["items"].each do |t| %>
<li><%= t["text"] %></li>
<% end %>
</ul>